@font-face {
    font-family: bebaskai-regular;
    src: url(Fonts/BebasKai-Regular.otf);
}

@font-face {
    font-family: bebasneue;
    src: url(Fonts/BebasNeue.otf);
}

@font-face {
    font-family: robotoBold;
    src: url(Fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(Fonts/RobotoSlab-Regular.ttf);
}

h1{
    font-family: "bebasneue";
    font-size: 88.5pt;
    color: #000;
}

p{
    font-family: robotoRegular;
    font-size: 14pt;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.contenedor{
    background-image: url("img/riel/back1.jpg");
    background-position: center left;
    background-size: cover;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 804px;
}
.contenedorHijo{
    min-height: 100%;
    height: auto;
    width: 65%;
    right: 0;
    overflow: hidden;
    position: absolute;
    margin: 0 -162px 0 0;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transition:width 2s;
    -moz-transition:width 1s;
    -ms-transition:width 1s;
    -webkit-transition:width 1s;
    -o-transition:width 1s;
    border-left: 1px solid #2fff00;
}
.contenidoHijoInterior{
    position: relative;
    background-image: url("img/riel/back1_2.jpg");
//background-position: center;
    background-position: center left;
    position: absolute;
    background-size: cover;
    right: 0;
    width: 100%;
    min-height: 100%;
    margin: 0 165px 0 0;
    -ms-transform: skew(20deg,0deg);
    -webkit-transform: skew(20deg,0deg);
    -moz-transform: skew(20deg,0deg);
    -o-transform: skew(20deg,0deg);
    transform: skew(20deg,0deg);
}
.contenedorHijo:hover{
//width:200%;
}
.contenedor2{
    width: 100%;
    min-height: 100%;
    background-color: #f0f0f0;
}

.gold{
    color: #9e7912;
}

.yellow{
    color: #fbfb00;
}

.white{
    color: #fff;
}

.item img{
    width: 100%;
}

.bg-naranja{
    background: rgba(247,92,35,1);
    background: -moz-linear-gradient(top, rgba(247,92,35,1) 0%, rgba(253,136,35,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,92,35,1)), color-stop(100%, rgba(253,136,35,1)));
    background: -webkit-linear-gradient(top, rgba(247,92,35,1) 0%, rgba(253,136,35,1) 100%);
    background: -o-linear-gradient(top, rgba(247,92,35,1) 0%, rgba(253,136,35,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,92,35,1) 0%, rgba(253,136,35,1) 100%);
    background: linear-gradient(to bottom, rgba(247,92,35,1) 0%, rgba(253,136,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75c23', endColorstr='#fd8823', GradientType=0 );
}

.bg-azul{
    background: rgba(19,106,161,1);
    background: -moz-linear-gradient(top, rgba(19,106,161,1) 0%, rgba(19,132,165,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,106,161,1)), color-stop(100%, rgba(19,132,165,1)));
    background: -webkit-linear-gradient(top, rgba(19,106,161,1) 0%, rgba(19,132,165,1) 100%);
    background: -o-linear-gradient(top, rgba(19,106,161,1) 0%, rgba(19,132,165,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,106,161,1) 0%, rgba(19,132,165,1) 100%);
    background: linear-gradient(to bottom, rgba(19,106,161,1) 0%, rgba(19,132,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136aa1', endColorstr='#1384a5', GradientType=0 );
}

.bg-gris{
    background: rgba(240,240,240,1);
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(249,249,249,1)));
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(249,249,249,1) 100%);
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f9f9f9', GradientType=0 );
}

.bg-verde-azul{
    background: rgba(41,253,75,1);
    background: -moz-linear-gradient(top, rgba(41,253,75,1) 0%, rgba(43,253,175,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,253,75,1)), color-stop(100%, rgba(43,253,175,1)));
    background: -webkit-linear-gradient(top, rgba(41,253,75,1) 0%, rgba(43,253,175,1) 100%);
    background: -o-linear-gradient(top, rgba(41,253,75,1) 0%, rgba(43,253,175,1) 100%);
    background: -ms-linear-gradient(top, rgba(41,253,75,1) 0%, rgba(43,253,175,1) 100%);
    background: linear-gradient(to bottom, rgba(41,253,75,1) 0%, rgba(43,253,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29fd4b', endColorstr='#2bfdaf', GradientType=0 );
}

.bg-black{
    background: #000;
}


.carousel-control{
    color: #ccc;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}

.description-shoes{
    margin-top: -88px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.logo{
    height: 63px;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.carousel-indicators .active{
    background-color: #2fff00;
    border: 1px solid #2fff00;
}

.carousel-indicators li{
    background-color: #2b592e;
    border: none;
}

.menu{
    background: #000;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    min-height: 63px;
    padding: 7px 20px 0 20px;
    margin-top: -10px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom: -5px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav>li>a{
    color: #949494;
    font-size: 11pt;
    font-family: bebaskai-regular;
    /*font-family: robotoRegular;*/
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover{
    background-image: none;
    background-color: transparent;
    color: #ccc;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>.active>a{
    color: #2fff00;
}

.navbar-default .menu_href_slide_to>.active>a, .navbar-default .menu_href_slide_to>.active>a:hover {
    background-image: none !important;
    color: #2fff00;
    background-color: #000 !important;
}

.glyphicon-chevron-left:before{
    content: url("img/FLECHA-VERDE.png");
}

.glyphicon-chevron-right:before{
    content: url("img/FLECHA-VERDE-RIGHT.png");
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    margin-top: -340px;
}

.shoes-carousel{
    text-align: center;
}

.shoes-carousel img{
    width: 69%;
    display: initial !important;
}

.item p{
    text-align: justify;
}

#footer{
    background-color: #202021;
    color: #1c1c1e;
    height: 27.5px;
    padding: 5px 30px;
}

#footer p{
    font-size: 12pt;
    font-family: "bebasneue";
}

.borde-red{
    border-left: 1px solid #1c1c1e;
}

.btn-carrito{
    margin-top: 35px;
    transform: skew(-30deg);
    background: rgba(219,36,97,1);
    background: -moz-linear-gradient(top, rgba(219,36,97,1) 0%, rgba(207,36,95,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,36,97,1)), color-stop(100%, rgba(207,36,95,1)));
    background: -webkit-linear-gradient(top, rgba(219,36,97,1) 0%, rgba(207,36,95,1) 100%);
    background: -o-linear-gradient(top, rgba(219,36,97,1) 0%, rgba(207,36,95,1) 100%);
    background: -ms-linear-gradient(top, rgba(219,36,97,1) 0%, rgba(207,36,95,1) 100%);
    background: linear-gradient(to bottom, rgba(219,36,97,1) 0%, rgba(207,36,95,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db2461', endColorstr='#cf245f', GradientType=0 );
}

a.btn.btn-carrito{
    padding: 17px 27px;
    border-radius: 0px;
    margin-top: 37px;
    margin-bottom: 17px;
}

a.btn.btn-carrito img{
    width: 100%;
}

.btn-carrito:hover{
    background: rgba(207,36,95,1);
    background: -moz-linear-gradient(top, rgba(207,36,95,1) 0%, rgba(207,36,95,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207,36,95,1)), color-stop(100%, rgba(207,36,95,1)));
    background: -webkit-linear-gradient(top, rgba(207,36,95,1) 0%, rgba(207,36,95,1) 100%);
    background: -o-linear-gradient(top, rgba(207,36,95,1) 0%, rgba(207,36,95,1) 100%);
    background: -ms-linear-gradient(top, rgba(207,36,95,1) 0%, rgba(207,36,95,1) 100%);
    background: linear-gradient(to bottom, rgba(207,36,95,1) 0%, rgba(207,36,95,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf245f', endColorstr='#cf245f', GradientType=0 );
}

.btn-carrito img{
    transform: skew(30deg);
}

.menu-fixed{
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0;
}

ul.nav.navbar-nav a{
    letter-spacing: 1.5px;
}

.faceboock{
    position: absolute;
    right: 30px;
    padding-top: 2px;
}

.quita-padding{
    padding: 0;
}


.logo{
    padding-left: 28px;
    padding-top: 10px;
}

.logo-menu{
    position: absolute;
    padding-left: 8px;
    padding-top: 13px;
    visibility: visible;
}

.escode-menu{
    display: none;
}



.slider-circles{
    opacity: 0.6;
}

.slider-circles.active{
    opacity: 1;
}

.lion{
    position: absolute;
    z-index: -1;
}

.shop{
    z-index: 1;
}

.shop-lion{
    margin-bottom: -5px;
}

p.pull-right{
    margin: 0;
}

.kampa-copy{
    margin-top: -5px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #2fff00;
}

p.animated.bounceInLeft{
    margin-top: -8px;
    padding: 0 154px;
}

.carousel-indicators li{
    height: 10px;
    width: 10px;
}

.carousel-indicators .active{
    height: 12px;
    width: 12px;
}

.menu-slider{
    padding-top: 8px;
}

.alinea-text{
    margin-top: -14px;
}

.container-small{
    padding: 0 230px !important;
}

.color-blanco{
    color: #fff;
}

.text-classic-golden{
    color: #808080
}

.carousel-indicators .active{
    margin: 0 4px;
}

.carousel-indicators li{
    margin: 0 4px;
}

.btn-tienda{
    font-size: 14.5px;
    font-family: robotoBold;
    margin-top: 35px;
    transform: skew(-30deg);
    background: #fbfb00;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db2461', endColorstr='#cf245f', GradientType=0 );
    padding: 12px 15px;
    border-radius: 0px;
    margin-top: 37px;
    margin-bottom: 17px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.btn-tienda:hover{
    background: #f4ed00;
}

a.btn.btn-tienda p{
    color: #000;
    transform: skew(30deg);

    margin-bottom: 1px;
    padding-left: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

a.btn.btn-tienda {
    position: absolute;
    z-index: 9999;
    top: 6%;
    right: -21px;
    width: 19%;
    text-align: center;
    padding-left: 40px;
}

.btn-tienda2{
    top: 63% !important;
}

a:focus {outline : none;}

#myCarousel{
    background: #000;
}

@media (max-width: 769px){
    h1{
        font-size: 70.5pt;
    }

    .shoes-carousel img{
        width: 90%;
    }

    .description-shoes{
        margin-top: -60px;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
        margin-top: -256px;
    }

    p.animated.bounceInLeft{
        padding: 0 32px;
    }

    .container-small{
        padding: 0 120px !important;
    }

    a.btn.btn-tienda{
        width: 225px;
    }
}


@media (max-width: 600px){
    h1{
        line-height: 100px;
        font-size: 79pt;
    }
    a.btn.btn-tienda{
        width: 225px;
    }

    .shoes-carousel img{
        width: 100%;
    }


    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
        display: none;
    }

    .description-shoes{
        margin-top: -53px;
    }

    p.animated.bounceInLeft{
        padding: 0 65px;
    }

    .container-small{
        padding: 0 64px !important;
    }
}

@media (max-width: 568px){
    .description-shoes{
        margin-top: -44px;
    }
    .btn-tienda{
        display: block;
    }

    a.btn.btn-tienda{
        width: 49%;
    }
}

@media (max-width: 320px){
    h1{
        font-size: 46.5pt;
        line-height: 65px;
    }

    .shoes-carousel img{
        width: 100%;
    }

    .description-shoes{
        margin-top: -30px;
    }

    .alinea-text{
        margin-top: -65px;
    }

    p.animated.bounceInLeft{
        padding: 0 10px;
    }

    .container-small{
        padding: 0 10px !important;
    }

    .btn-tienda{
        display: none;
    }

}

